* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #d9a7c7, #fffcdc);
}

.container {
    width: 80vw;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2rem auto;
    box-shadow:  7px 7px 14px #ffe5e59e, 
    1px 7px 12px gray;
}

h1 {
    font-size: 3 rem;
    font-weight: 50;
    margin: 2rem;
    text-align: center;
    color: #445566;
    font-family: 'Hind Siliguri', sans-serif;
}

.styling {
    font-weight: 800;
    color: #d9a7c7;
}

.input_div { margin-bottom: 2rem; }

.input_div .input {
    padding: 0.5rem 1rem;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 51px;
    border-radius: 51px;
    border-radius: 31px;
    border-radius: 31px;
    background: #ffffff;
    box-shadow:  6px 6px 19px #e0e3e8, 
            -6px -6px 19px #ffffff;
    width: 60%;
    font-size: 1.15rem;
    margin: 0.25rem;
    border-radius: 15px;
}

.input {
    color: #445566;
}
.addButton {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    color: white;
    margin: 0.25rem;
    background-color: #d9a7c7; 
    cursor: pointer;
}

.addButton:hover {
    opacity: 0.8;
    box-shadow: 10px 5px 5px #fffcdc;
}

.container-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.item {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-self: center;
    width: 65%;
    border-bottom: 2px solid #e0e3e8;
}

.item_input {
    background: none;
    outline: none;
    color: #445566;
    border: none;
    width: 350px;
    font-size: 1.4rem;
}

.editButton {
    width: 20%;
    font-size: 1.4rem;
    margin: 0 0.2rem;
    font-family: 'Hind Siliguri', sans-serif;
    background: #8BB6C4;
    outline: none;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.editButton:hover {
    opacity: 0.8;
}

.removeButton {
    width: 20%;
    font-size: 1.4rem;
    margin: 0 0.2rem;
    font-family: 'Hind Siliguri', sans-serif;
    outline: none;
    cursor: pointer;
    background-color: #ec7a7a;
    color: #ffffff;
    border: none;
    border-radius: 25px;
}

.removeButton:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .editButton, .removeButton {
        font-size: 1rem;
    }
}

@media (min-width: 300px) and (max-width: 500px) {
    .container { 
        height: 100vh;
    }

    h1 { 
        margin-top: -13rem; 
    }

    .item {
        width: 70%;
    }

    .input_div .input { 
        font-size: 1rem; 
    }

    .item_input {
        margin-left: -3rem;
        font-size: 0.8rem;
    }

    .addButton {
        width: 40px;
        height: 40px;
    }

    .editButton, .removeButton {
        font-size: 0.6rem;
        padding: 0 2rem 0 1rem;
        margin-left: -2rem;
    }

    .removeButton {
        margin-left: 0;
    }
}

